<div class="panel">
    <div class="panel-heading">
        <h3 class="panel-title">GL PDCA</h3>
    </div>
    <div class="panel-body">
        <div class="table-responsive">
            <form method="POST" id="GLPDCAForm">

                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th colspan="3">PAINTING UNIT II</th>
                            <th colspan="15">GROUP LEADERS TODO LIST AND SHIFT PDCA</th>
                            <th colspan="3">DATE/ SHIFT</th>
                            <th colspan="4"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td colspan="2">Group Leader Activities</td>
                            <td>Status</td>
                            <td rowspan="3">Cell</td>
                            <td colspan="17">CRITICAL PERFORMANCE FOR THE SHIFT</td>
                            <td colspan="4" rowspan="3">TEAM LEADERS 'TO DO' ADHERENCE<br></td>
                        </tr>
                        <tr>
                            <td colspan="2" rowspan="2">Read Log , collect info. &amp; Review opening stock</td>
                            <td rowspan="2"></td>
                            <td colspan="8">FIRST HOUR OUTPUT</td>
                            <td colspan="9">LINE STOPPER</td>
                        </tr>
                        <tr>
                            <td>Plan</td>
                            <td>Actual</td>
                            <td colspan="3">Top Reasons<br></td>
                            <td colspan="3">Action</td>
                            <td>Line</td>
                            <td>Plan</td>
                            <td>Actual</td>
                            <td colspan="3">Top 3 Reasons</td>
                            <td colspan="3">Action</td>
                        </tr>
                        <tr>
                            <td colspan="2" rowspan="2">Check T/L absentism &amp; Review opening status with T/L</td>
                            <td rowspan="2">{{ GLPDCAForm.cb1 }}</td>
                            <td rowspan="12">Spray line2</td>
                            <td rowspan="2">{{ GLPDCAForm.in29 }}</td>
                            <td rowspan="2">{{ GLPDCAForm.in30 }}</td>
                            <td colspan="3" rowspan="2">{{ GLPDCAForm.in1 }}</td>
                            <td colspan="3" rowspan="2">{{ GLPDCAForm.in2 }}</td>
                            <td rowspan="4">CKD</td>
                            <td rowspan="2">{{ GLPDCAForm.in31 }}</td>
                            <td rowspan="2">{{ GLPDCAForm.in32 }}</td>
                            <td colspan="3" rowspan="2">{{ GLPDCAForm.in3 }}</td>
                            <td colspan="3" rowspan="2">{{ GLPDCAForm.in4 }}</td>
                            <td colspan="3">NAME</td>
                            <td>P/A</td>
                        </tr>
                        <tr>
                            <td colspan="3" rowspan="2">{{ GLPDCAForm.ta30 }}</td>
                            <td>{{ GLPDCAForm.ta11 }}</td>
                        </tr>
                        <tr>
                            <td colspan="2" rowspan="2">Update Production report and attend Production meeting</td>
                            <td rowspan="2">{{ GLPDCAForm.cb2 }}</td>
                            <td>{{ GLPDCAForm.in57 }}</td>
                            <td>{{ GLPDCAForm.in58 }}</td>
                            <td colspan="3" rowspan="2">{{ GLPDCAForm.in5 }}</td>
                            <td colspan="3" rowspan="2">{{ GLPDCAForm.in6 }}</td>
                            <td rowspan="2">{{ GLPDCAForm.in33 }}</td>
                            <td rowspan="2">{{ GLPDCAForm.in34 }}</td>
                            <td colspan="3" rowspan="2">{{ GLPDCAForm.in7 }}</td>
                            <td colspan="3" rowspan="2">{{ GLPDCAForm.in8 }}</td>
                            <td>{{ GLPDCAForm.in59 }}</td>
                        </tr>
                        <tr>
                            <td>{{ GLPDCAForm.in60 }}</td>
                            <td>{{ GLPDCAForm.in61 }}</td>
                            <td colspan="3" rowspan="2">{{ GLPDCAForm.ta12 }}</td>
                            <td>{{ GLPDCAForm.ta13 }}</td>
                        </tr>
                        <tr>
                            <td colspan="2" rowspan="2">Review First Hour Output</td>
                            <td rowspan="2">{{ GLPDCAForm.cb3 }}</td>
                            <td colspan="8">CONVEYOR UTILISATION</td>
                            <td rowspan="4">K0X&amp; U69</td>
                            <td rowspan="2">{{ GLPDCAForm.in35 }}</td>
                            <td rowspan="2">{{ GLPDCAForm.in36 }}</td>
                            <td colspan="3" rowspan="2">{{ GLPDCAForm.in9 }}</td>
                            <td colspan="3" rowspan="2">{{ GLPDCAForm.in10 }}</td>
                            <td>{{ GLPDCAForm.in62 }}</td>
                        </tr>
                        <tr>
                            <td>Plan</td>
                            <td>Actual</td>
                            <td colspan="3">Top 3 Reasons</td>
                            <td colspan="3">Action</td>
                            <td colspan="3" rowspan="2">{{ GLPDCAForm.ta14 }}</td>
                            <td>{{ GLPDCAForm.ta15 }}</td>
                        </tr>
                        <tr>
                            <td colspan="2" rowspan="2">Audit JH check sheet of at any</td>
                            <td rowspan="2">{{ GLPDCAForm.cb4 }}</td>
                            <td rowspan="2">{{ GLPDCAForm.in37 }}</td>
                            <td rowspan="2">{{ GLPDCAForm.in38 }}</td>
                            <td colspan="3" rowspan="2">{{ GLPDCAForm.in11 }}</td>
                            <td colspan="3" rowspan="2">{{ GLPDCAForm.in12 }}</td>
                            <td rowspan="2">{{ GLPDCAForm.in39 }}</td>
                            <td rowspan="2">{{ GLPDCAForm.in40 }}</td>
                            <td colspan="3" rowspan="2">{{ GLPDCAForm.in13 }}</td>
                            <td colspan="3" rowspan="2">{{ GLPDCAForm.in14 }}</td>
                            <td>{{ GLPDCAForm.in63 }}</td>
                        </tr>
                        <tr>
                            <td rowspan="2">Cell</td>
                            <td rowspan="2">Absentism</td>
                            <td colspan="2" rowspan="2">SAFETY INCIDENT</td>
                        </tr>
                        <tr>
                            <td colspan="2" rowspan="2">Audit Operator check sheet (any one cell)</td>
                            <td rowspan="2">{{ GLPDCAForm.cb5 }}</td>
                            <td>{{ GLPDCAForm.in64 }}</td>
                            <td>{{ GLPDCAForm.in65 }}</td>
                            <td colspan="3" rowspan="2">{{ GLPDCAForm.in15 }}</td>
                            <td colspan="3" rowspan="2">{{ GLPDCAForm.in16 }}</td>
                            <td rowspan="4">Vehicle2</td>
                            <td rowspan="2">{{ GLPDCAForm.in41 }}</td>
                            <td rowspan="2">{{ GLPDCAForm.in42 }}</td>
                            <td colspan="3" rowspan="2">{{ GLPDCAForm.in17 }}</td>
                            <td colspan="3" rowspan="2">{{ GLPDCAForm.in18 }}</td>
                        </tr>
                        <tr>
                            <td>{{ GLPDCAForm.in66 }}</td>
                            <td>{{ GLPDCAForm.in67 }}</td>
                            <td rowspan="3">K-series</td>
                            <td rowspan="3">{{ GLPDCAForm.ta16 }}</td>
                            <td colspan="2" rowspan="3">{{ GLPDCAForm.ta17 }}</td>
                        </tr>
                        <tr>
                            <td colspan="2" rowspan="2">Attend Prodn. meeting at veh., assy</td>
                            <td rowspan="2">{{ GLPDCAForm.cb6 }}</td>
                            <td>{{ GLPDCAForm.in68 }}</td>
                            <td>{{ GLPDCAForm.in69 }}</td>
                            <td colspan="3" rowspan="2">{{ GLPDCAForm.in19 }}</td>
                            <td colspan="3" rowspan="2">{{ GLPDCAForm.in20 }}</td>
                            <td rowspan="2">{{ GLPDCAForm.in43 }}</td>
                            <td rowspan="2">{{ GLPDCAForm.in44 }}</td>
                            <td colspan="3" rowspan="2">{{ GLPDCAForm.in21 }}</td>
                            <td colspan="3" rowspan="2">{{ GLPDCAForm.in22 }}</td>
                        </tr>
                        <tr>
                            <td>{{ GLPDCAForm.in70 }}</td>
                            <td>{{ GLPDCAForm.in71 }}</td>
                        </tr>
                        <tr>
                            <td colspan="2" rowspan="3">Attend daily PDCA meeting of plastic line</td>
                            <td rowspan="3">{{ GLPDCAForm.cb7 }}</td>
                            <td>{{ GLPDCAForm.in72 }}</td>
                            <td colspan="8">REWORK</td>
                            <td>{{ GLPDCAForm.in73 }}</td>
                            <td colspan="8">CUSTOMER COMPLAINTS</td>
                            <td rowspan="2">Prism</td>
                            <td rowspan="2">{{ GLPDCAForm.ta18 }}</td>
                            <td colspan="2" rowspan="2">{{ GLPDCAForm.ta19 }}</td>
                        </tr>
                        <tr>
                            <td>Cell</td>
                            <td>Plan</td>
                            <td>Actual</td>
                            <td colspan="3">Top 3 Reasons</td>
                            <td colspan="3">Action</td>
                            <td>Line</td>
                            <td>Plan</td>
                            <td>Actual</td>
                            <td colspan="3">Top 3 Reasons</td>
                            <td colspan="3">Action</td>
                        </tr>
                        <tr>
                            <td rowspan="6">Spray line 2</td>
                            <td rowspan="2">{{ GLPDCAForm.in45 }}</td>
                            <td rowspan="2">{{ GLPDCAForm.in46 }}</td>
                            <td colspan="3" rowspan="2">{{ GLPDCAForm.in23 }}</td>
                            <td colspan="3" rowspan="2">{{ GLPDCAForm.in24 }}</td>
                            <td rowspan="3">CKD</td>
                            <td rowspan="3">{{ GLPDCAForm.ta1 }}</td>
                            <td rowspan="3">{{ GLPDCAForm.in53 }}</td>
                            <td rowspan="2">{{ GLPDCAForm.in54 }}</td>
                            <td rowspan="2">{{ GLPDCAForm.in47 }}</td>
                            <td rowspan="2">{{ GLPDCAForm.in48 }}</td>
                            <td rowspan="2">{{ GLPDCAForm.in49 }}</td>
                            <td rowspan="2">{{ GLPDCAForm.in50 }}</td>
                            <td rowspan="2">{{ GLPDCAForm.in51 }}</td>
                            <td rowspan="2">Line2</td>
                            <td rowspan="2">{{ GLPDCAForm.ta20 }}</td>
                            <td colspan="2" rowspan="2">{{ GLPDCAForm.ta21 }}</td>
                        </tr>
                        <tr>
                            <td colspan="2" rowspan="2">2S audit (any one stage) &amp; feed back to respective TL</td>
                            <td rowspan="2">{{ GLPDCAForm.cb8 }}</td>
                        </tr>
                        <tr>
                            <td>{{ GLPDCAForm.in74 }}</td>
                            <td>{{ GLPDCAForm.in75 }}</td>
                            <td colspan="3" rowspan="2">{{ GLPDCAForm.in25 }}</td>
                            <td colspan="3" rowspan="2">{{ GLPDCAForm.in26 }}</td>
                            <td>{{ GLPDCAForm.in76 }}</td>
                            <td>{{ GLPDCAForm.in77 }}</td>
                            <td>{{ GLPDCAForm.in78 }}</td>
                            <td>{{ GLPDCAForm.in79 }}</td>
                            <td>{{ GLPDCAForm.in80 }}</td>
                            <td>{{ GLPDCAForm.in81 }}</td>
                            <td colspan="4">OPENING STOCK DETAILS</td>
                        </tr>
                        <tr>
                            <td colspan="2" rowspan="2">Review R.T parts status and accumulation</td>
                            <td rowspan="2">{{ GLPDCAForm.cb9 }}</td>
                            <td>{{ GLPDCAForm.in82 }}</td>
                            <td>{{ GLPDCAForm.in83 }}</td>
                            <td rowspan="3">Vehicle1</td>
                            <td rowspan="3">{{ GLPDCAForm.ta2 }}</td>
                            <td rowspan="3">{{ GLPDCAForm.in55 }}</td>
                            <td>{{ GLPDCAForm.in84 }}</td>
                            <td>{{ GLPDCAForm.in85 }}</td>
                            <td>{{ GLPDCAForm.in86 }}</td>
                            <td>{{ GLPDCAForm.in87 }}</td>
                            <td>{{ GLPDCAForm.in88 }}</td>
                            <td>{{ GLPDCAForm.in89 }}</td>
                            <td rowspan="2">#</td>
                            <td rowspan="2">Con300</td>
                            <td rowspan="2">Con400</td>
                            <td rowspan="2">Con600</td>
                        </tr>
                        <tr>
                            <td>{{ GLPDCAForm.in90 }}</td>
                            <td>{{ GLPDCAForm.in91 }}</td>
                            <td colspan="3" rowspan="2">{{ GLPDCAForm.in27 }}</td>
                            <td colspan="3" rowspan="2">{{ GLPDCAForm.in28 }}</td>
                            <td>{{ GLPDCAForm.in92 }}</td>
                            <td>{{ GLPDCAForm.in93 }}</td>
                            <td>{{ GLPDCAForm.in94 }}</td>
                            <td>{{ GLPDCAForm.in95 }}</td>
                            <td>{{ GLPDCAForm.in96 }}</td>
                            <td>{{ GLPDCAForm.in97 }}</td>
                        </tr>
                        <tr>
                            <td colspan="2" rowspan="2">Do Shift PDCA and review TL hourly PDCA book</td>
                            <td rowspan="2">{{ GLPDCAForm.cb10 }}</td>
                            <td>{{ GLPDCAForm.in98 }}</td>
                            <td>{{ GLPDCAForm.in99 }}</td>
                            <td>{{ GLPDCAForm.in100 }}</td>
                            <td>{{ GLPDCAForm.in101 }}</td>
                            <td>{{ GLPDCAForm.in102 }}</td>
                            <td>{{ GLPDCAForm.in103 }}</td>
                            <td>{{ GLPDCAForm.in104 }}</td>
                            <td>{{ GLPDCAForm.in105 }}</td>
                            <td rowspan="2">W/Assy</td>
                            <td rowspan="2">{{ GLPDCAForm.ta22 }}</td>
                            <td rowspan="2">{{ GLPDCAForm.ta23 }}</td>
                            <td rowspan="2">{{ GLPDCAForm.ta24 }}</td>
                        </tr>
                        <tr>
                            <td colspan="9">REWORK PARTS STATUS</td>
                            <td rowspan="3">Vehicle2</td>
                            <td rowspan="3">{{ GLPDCAForm.ta3 }}</td>
                            <td rowspan="3">{{ GLPDCAForm.in56 }}</td>
                            <td>{{ GLPDCAForm.in106 }}</td>
                            <td>{{ GLPDCAForm.in107 }}</td>
                            <td>{{ GLPDCAForm.in108 }}</td>
                            <td>{{ GLPDCAForm.in109 }}</td>
                            <td>{{ GLPDCAForm.in110 }}</td>
                            <td>{{ GLPDCAForm.in111 }}</td>
                        </tr>
                        <tr>
                            <td colspan="2" rowspan="2">Total 'To Do' list check Plan</td>
                            <td rowspan="2">{{ GLPDCAForm.in52 }}</td>
                            <td rowspan="5">Spray line 2</td>
                            <td colspan="2">Model</td>
                            <td>Plan</td>
                            <td colspan="2">Sanded</td>
                            <td colspan="2">W/Sanding</td>
                            <td>Scrap</td>
                            <td>{{ GLPDCAForm.in112 }}</td>
                            <td>{{ GLPDCAForm.in113 }}</td>
                            <td>{{ GLPDCAForm.in114 }}</td>
                            <td>{{ GLPDCAForm.in115 }}</td>
                            <td>{{ GLPDCAForm.in116 }}</td>
                            <td>{{ GLPDCAForm.in117 }}</td>
                            <td rowspan="2">W/stickering</td>
                            <td rowspan="2">{{ GLPDCAForm.ta25 }}</td>
                            <td rowspan="2">{{ GLPDCAForm.ta26 }}</td>
                            <td rowspan="2">{{ GLPDCAForm.ta27 }}</td>
                        </tr>
                        <tr>
                            <td colspan="2" rowspan="2">All Model</td>
                            <td rowspan="2"></td>
                            <td colspan="2">{{ GLPDCAForm.ta28 }}</td>
                            <td colspan="3">{{ GLPDCAForm.ta29 }}</td>
                            <td>{{ GLPDCAForm.in118 }}</td>
                            <td>{{ GLPDCAForm.in119 }}</td>
                            <td>{{ GLPDCAForm.in120 }}</td>
                            <td>{{ GLPDCAForm.in121 }}</td>
                            <td>{{ GLPDCAForm.in122 }}</td>
                            <td>{{ GLPDCAForm.in123 }}</td>
                        </tr>
                        <tr>
                            <td colspan="2" rowspan="3">Actually done</td>
                            <td rowspan="3">{{ GLPDCAForm.ta4 }}</td>
                            <td>{{ GLPDCAForm.in124 }}</td>
                            <td>{{ GLPDCAForm.in125 }}</td>
                            <td>{{ GLPDCAForm.in126 }}</td>
                            <td>{{ GLPDCAForm.in127 }}</td>
                            <td>{{ GLPDCAForm.in128 }}</td>
                            <td colspan="4">SPARE Quantity</td>
                            <td colspan="5">Breakdown Details</td>
                            <td rowspan="3">U/P</td>
                            <td rowspan="3">{{ GLPDCAForm.ta31 }}</td>
                            <td rowspan="3">{{ GLPDCAForm.ta32 }}</td>
                            <td rowspan="3">{{ GLPDCAForm.ta33 }}</td>
                        </tr>
                        <tr>
                            <td colspan="2" rowspan="2">U69&amp; K-series<br></td>
                            <td rowspan="2"></td>
                            <td colspan="2">{{ GLPDCAForm.ta34 }}</td>
                            <td colspan="3">{{ GLPDCAForm.ta10 }}</td>
                            <td colspan="2">Plan</td>
                            <td colspan="2">{{ GLPDCAForm.ta5 }}</td>
                            <td colspan="5" rowspan="2">{{ GLPDCAForm.ta6 }}</td>
                        </tr>
                        <tr>
                            <td>{{ GLPDCAForm.in129 }}</td>
                            <td>{{ GLPDCAForm.in130 }}</td>
                            <td>{{ GLPDCAForm.in131 }}</td>
                            <td>{{ GLPDCAForm.in132 }}</td>
                            <td>{{ GLPDCAForm.in133 }}</td>
                            <td colspan="2">Actual</td>
                            <td colspan="2">{{ GLPDCAForm.ta7 }}</td>
                        </tr>
                        <tr>
                            <td rowspan="4">FEED BACK POINTS DURING REVIEW</td>
                            <td colspan="20" rowspan="4">{{ GLPDCAForm.ta35 }}</td>
                            <td colspan="4">Group Leader sign</td>
                        </tr>
                        <tr>
                            <td colspan="4">{{ GLPDCAForm.ta8 }}</td>
                        </tr>
                        <tr>
                            <td colspan="4">Unit manager Sign</td>
                        </tr>
                        <tr>
                            <td colspan="4">{{ GLPDCAForm.ta9 }}</td>
                        </tr>
                    </tbody>
                </table>

                <button id="GLPDCAForm_submit" type="submit"></button>
            </form>
        </div>
    </div>
</div>