<div class="panel">
    <div class="panel-heading">
        <h3 class="panel-title">TL PDCA 2</h3>
    </div>
    <div class="panel-body">
        <div class="table-responsive">
            <form method="POST" id="TLPDCA2Form">

                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th colspan="2">PAINTING UNIT II</th>
                            <th colspan="2">Cell Name</th>
                            <th colspan="4">Dummy Name</th>
                            <th colspan="9">TEAM LEADERS</th>
                            <th colspan="3">DATE/ SHIFT</th>
                            <th colspan="3">Dummy Name</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td colspan="2">Team Leader's Activities</td>
                            <td>Status</td>
                            <td rowspan="3">Hour</td>
                            <td colspan="19">CRITICAL PERFORMANCE PARAMETERS FOR THE SHIFT</td>
                        </tr>
                        <tr>
                            <td colspan="2" rowspan="2">Read Log , collect info. &amp; Review opening stock</td>
                            <td rowspan="2">{{ TLPDCAForm.cb1 }}</td>
                            <td colspan="8">CONVEYOR UTILISATION</td>
                            <td rowspan="2">Hour</td>
                            <td colspan="2" rowspan="2">No. of Customer complaint</td>
                            <td colspan="8">CUSTOMER COMPLAINT</td>
                        </tr>
                        <tr>
                            <td>Plan</td>
                            <td>Actual</td>
                            <td colspan="3">Top 3 Reasons</td>
                            <td colspan="3">Action</td>
                            <td>SD</td>
                            <td>Dust</td>
                            <td>RD</td>
                            <td>UC</td>
                            <td>D/S</td>
                            <td>Spitt</td>
                            <td>Others</td>
                            <td>Action</td>
                        </tr>
                        <tr>
                            <td colspan="2" rowspan="2">Update the sequence and give loading plan</td>
                            <td rowspan="2">{{ TLPDCAForm.cb2 }}</td>
                            <td rowspan="2">1</td>
                            <td rowspan="2">{{ TLPDCAForm.in25 }}</td>
                            <td rowspan="2">{{ TLPDCAForm.in26 }}</td>
                            <td colspan="3" rowspan="2">{{ TLPDCAForm.in27 }}</td>
                            <td colspan="3" rowspan="2">{{ TLPDCAForm.in1 }}</td>
                            <td rowspan="2">1</td>
                            <td rowspan="2">{{ TLPDCAForm.in53 }}</td>
                            <td rowspan="2">{{ TLPDCAForm.in54 }}</td>
                            <td rowspan="2">{{ TLPDCAForm.in55 }}</td>
                            <td rowspan="2">{{ TLPDCAForm.in56 }}</td>
                            <td rowspan="2">{{ TLPDCAForm.in57 }}</td>
                            <td rowspan="2">{{ TLPDCAForm.in58 }}</td>
                            <td rowspan="2">{{ TLPDCAForm.in59 }}</td>
                            <td rowspan="2">{{ TLPDCAForm.in60 }}</td>
                            <td rowspan="2">{{ TLPDCAForm.in61 }}</td>
                            <td rowspan="2">{{ TLPDCAForm.in2 }}</td>
                        </tr>
                        <tr>
                        </tr>
                        <tr>
                            <td colspan="2" rowspan="2">Conduct surise meeting with team members</td>
                            <td rowspan="2">{{ TLPDCAForm.cb3 }}</td>
                            <td rowspan="2">2</td>
                            <td rowspan="2">{{ TLPDCAForm.in28 }}</td>
                            <td rowspan="2">{{ TLPDCAForm.in29 }}</td>
                            <td colspan="3" rowspan="2">{{ TLPDCAForm.in30 }}</td>
                            <td colspan="3" rowspan="2">{{ TLPDCAForm.in31 }}</td>
                            <td rowspan="2">2</td>
                            <td rowspan="2">{{ TLPDCAForm.in62 }}</td>
                            <td rowspan="2">{{ TLPDCAForm.in63 }}</td>
                            <td rowspan="2">{{ TLPDCAForm.in64 }}</td>
                            <td rowspan="2">{{ TLPDCAForm.in65 }}</td>
                            <td rowspan="2">{{ TLPDCAForm.in66 }}</td>
                            <td rowspan="2">{{ TLPDCAForm.in67 }}</td>
                            <td rowspan="2">{{ TLPDCAForm.in68 }}</td>
                            <td rowspan="2">{{ TLPDCAForm.in69 }}</td>
                            <td rowspan="2">{{ TLPDCAForm.in70 }}</td>
                            <td rowspan="2">{{ TLPDCAForm.in4 }}</td>
                        </tr>
                        <tr>
                        </tr>
                        <tr>
                            <td colspan="2" rowspan="2">Check manpower absentism status</td>
                            <td rowspan="2">{{ TLPDCAForm.cb4 }}</td>
                            <td rowspan="2">3</td>
                            <td rowspan="2">{{ TLPDCAForm31 }}</td>
                            <td rowspan="2">{{ TLPDCAForm.in32 }}</td>
                            <td colspan="3" rowspan="2">{{ TLPDCAForm.in33 }}</td>
                            <td colspan="3" rowspan="2">{{ TLPDCAForm.in52 }}</td>
                            <td rowspan="2">3</td>
                            <td rowspan="2">{{ TLPDCAForm.in71 }}</td>
                            <td rowspan="2">{{ TLPDCAForm.in72 }}</td>
                            <td rowspan="2">{{ TLPDCAForm.in73 }}</td>
                            <td rowspan="2">{{ TLPDCAForm.in74 }}</td>
                            <td rowspan="2">{{ TLPDCAForm.in75 }}</td>
                            <td rowspan="2">{{ TLPDCAForm.in76 }}</td>
                            <td rowspan="2">{{ TLPDCAForm.in77 }}</td>
                            <td rowspan="2">{{ TLPDCAForm.in78 }}</td>
                            <td rowspan="2">{{ TLPDCAForm.in79 }}</td>
                            <td rowspan="2">{{ TLPDCAForm.in6 }}</td>
                        </tr>
                        <tr>
                        </tr>
                        <tr>
                            <td colspan="2" rowspan="2">Deploy manpower as per skill matrix / update atte</td>
                            <td rowspan="2">{{ TLPDCAForm.cb5 }}</td>
                            <td rowspan="2">4</td>
                            <td rowspan="2">{{ TLPDCAForm.in34 }}</td>
                            <td rowspan="2">{{ TLPDCAForm.in35 }}</td>
                            <td colspan="3" rowspan="2">{{ TLPDCAForm.in36 }}</td>
                            <td colspan="3" rowspan="2">{{ TLPDCAForm.in7 }}</td>
                            <td rowspan="2">4</td>
                            <td rowspan="2">{{ TLPDCAForm.in80 }}</td>
                            <td rowspan="2">{{ TLPDCAForm.in81 }}</td>
                            <td rowspan="2">{{ TLPDCAForm.in82 }}</td>
                            <td rowspan="2">{{ TLPDCAForm.in83 }}</td>
                            <td rowspan="2">{{ TLPDCAForm.in84 }}</td>
                            <td rowspan="2">{{ TLPDCAForm.in85 }}</td>
                            <td rowspan="2">{{ TLPDCAForm.in86 }}</td>
                            <td rowspan="2">{{ TLPDCAForm.in87 }}</td>
                            <td rowspan="2">{{ TLPDCAForm.in88 }}</td>
                            <td rowspan="2">{{ TLPDCAForm.in8 }}</td>
                        </tr>
                        <tr>
                        </tr>
                        <tr>
                            <td colspan="2" rowspan="2">Monitor availability of parts for stickering and assembly</td>
                            <td rowspan="2">{{ TLPDCAForm.cb6 }}</td>
                            <td rowspan="2">5</td>
                            <td rowspan="2">{{ TLPDCAForm.in37 }}</td>
                            <td rowspan="2">{{ TLPDCAForm.in38 }}</td>
                            <td colspan="3" rowspan="2">{{ TLPDCAForm.in39 }}</td>
                            <td colspan="3" rowspan="2">{{ TLPDCAForm.in9 }}</td>
                            <td rowspan="2">5</td>
                            <td rowspan="2">{{ TLPDCAForm.in89 }}</td>
                            <td rowspan="2">{{ TLPDCAForm.in90 }}</td>
                            <td rowspan="2">{{ TLPDCAForm.in91 }}</td>
                            <td rowspan="2">{{ TLPDCAForm.in92 }}</td>
                            <td rowspan="2">{{ TLPDCAForm.in93 }}</td>
                            <td rowspan="2">{{ TLPDCAForm.in94 }}</td>
                            <td rowspan="2">{{ TLPDCAForm.in95 }}</td>
                            <td rowspan="2">{{ TLPDCAForm.in96 }}</td>
                            <td rowspan="2">{{ TLPDCAForm.in97 }}</td>
                            <td rowspan="2">{{ TLPDCAForm.in10 }}</td>
                        </tr>
                        <tr>
                        </tr>
                        <tr>
                            <td colspan="2" rowspan="2">Audit JH check sheet and sign</td>
                            <td rowspan="2">{{ TLPDCAForm.cb7 }}</td>
                            <td rowspan="2">6</td>
                            <td rowspan="2">{{ TLPDCAForm.in40 }}</td>
                            <td rowspan="2">{{ TLPDCAForm.in41 }}</td>
                            <td colspan="3" rowspan="2">{{ TLPDCAForm.in42 }}</td>
                            <td colspan="3" rowspan="2">{{ TLPDCAForm.in11 }}</td>
                            <td rowspan="2">6</td>
                            <td rowspan="2">{{ TLPDCAForm.in98 }}</td>
                            <td rowspan="2">{{ TLPDCAForm.in99 }}</td>
                            <td rowspan="2">{{ TLPDCAForm.in100 }}</td>
                            <td rowspan="2">{{ TLPDCAForm.in101 }}</td>
                            <td rowspan="2">{{ TLPDCAForm.in102 }}</td>
                            <td rowspan="2">{{ TLPDCAForm.in103 }}</td>
                            <td rowspan="2">{{ TLPDCAForm.in104 }}</td>
                            <td rowspan="2">{{ TLPDCAForm.in105 }}</td>
                            <td rowspan="2">{{ TLPDCAForm.in106 }}</td>
                            <td rowspan="2">{{ TLPDCAForm.in12 }}</td>
                        </tr>
                        <tr>
                        </tr>
                        <tr>
                            <td colspan="2" rowspan="2">Attend Daily Paint shop PDCA meeting</td>
                            <td rowspan="2">{{ TLPDCAForm.cb8 }}</td>
                            <td rowspan="2">7</td>
                            <td rowspan="2">{{ TLPDCAForm.in43 }}</td>
                            <td rowspan="2">{{ TLPDCAForm.in44 }}</td>
                            <td colspan="3" rowspan="2">{{ TLPDCAForm.in45 }}</td>
                            <td colspan="3" rowspan="2">{{ TLPDCAForm.in13 }}</td>
                            <td rowspan="2">7</td>
                            <td rowspan="2">{{ TLPDCAForm.in107 }}</td>
                            <td rowspan="2">{{ TLPDCAForm.in108 }}</td>
                            <td rowspan="2">{{ TLPDCAForm.in109 }}</td>
                            <td rowspan="2">{{ TLPDCAForm.in110 }}</td>
                            <td rowspan="2">{{ TLPDCAForm.in111 }}</td>
                            <td rowspan="2">{{ TLPDCAForm.in112 }}</td>
                            <td rowspan="2">{{ TLPDCAForm.in113 }}</td>
                            <td rowspan="2">{{ TLPDCAForm.in114 }}</td>
                            <td rowspan="2">{{ TLPDCAForm.in115 }}</td>
                            <td rowspan="2">{{ TLPDCAForm.in14 }}</td>
                        </tr>
                        <tr>
                        </tr>
                        <tr>
                            <td colspan="2" rowspan="2">Do Hourly PDCA for customer complaint</td>
                            <td rowspan="2">{{ TLPDCAForm.cb9 }}</td>
                            <td rowspan="2">8</td>
                            <td rowspan="2">{{ TLPDCAForm.in46 }}</td>
                            <td rowspan="2">{{ TLPDCAForm.in47 }}</td>
                            <td colspan="3" rowspan="2">{{ TLPDCAForm.in48 }}</td>
                            <td colspan="3" rowspan="2">{{ TLPDCAForm.in15 }}</td>
                            <td rowspan="2">8</td>
                            <td rowspan="2">{{ TLPDCAForm.in116 }}</td>
                            <td rowspan="2">{{ TLPDCAForm.in117 }}</td>
                            <td rowspan="2">{{ TLPDCAForm.in118 }}</td>
                            <td rowspan="2">{{ TLPDCAForm.in119 }}</td>
                            <td rowspan="2">{{ TLPDCAForm.in120 }}</td>
                            <td rowspan="2">{{ TLPDCAForm.in121 }}</td>
                            <td rowspan="2">{{ TLPDCAForm.in122 }}</td>
                            <td rowspan="2">{{ TLPDCAForm.in123 }}</td>
                            <td rowspan="2">{{ TLPDCAForm.in124 }}</td>
                            <td rowspan="2">{{ TLPDCAForm.in16 }}</td>
                        </tr>
                        <tr>
                        </tr>
                        <tr>
                            <td colspan="2" rowspan="2">Do PDCA for Line stopper</td>
                            <td rowspan="2">{{ TLPDCAForm.cb10 }}</td>
                            <td rowspan="2">Total</td>
                            <td rowspan="2">{{ TLPDCAForm.in49 }}</td>
                            <td rowspan="2">{{ TLPDCAForm.in50 }}</td>
                            <td colspan="3" rowspan="2">{{ TLPDCAForm.in51 }}</td>
                            <td colspan="3" rowspan="2">{{ TLPDCAForm.in17 }}</td>
                            <td rowspan="2">Total</td>
                            <td rowspan="2">{{ TLPDCAForm.in125 }}</td>
                            <td rowspan="2">{{ TLPDCAForm.in126 }}</td>
                            <td rowspan="2">{{ TLPDCAForm.in127 }}</td>
                            <td rowspan="2">{{ TLPDCAForm.in128 }}</td>
                            <td rowspan="2">{{ TLPDCAForm.in129 }}</td>
                            <td rowspan="2">{{ TLPDCAForm.in130 }}</td>
                            <td rowspan="2">{{ TLPDCAForm.in131 }}</td>
                            <td rowspan="2">{{ TLPDCAForm.in132 }}</td>
                            <td rowspan="2">{{ TLPDCAForm.in133 }}</td>
                            <td rowspan="2">{{ TLPDCAForm.in18 }}</td>
                        </tr>
                        <tr>
                        </tr>
                        <tr>
                            <td colspan="2" rowspan="2">Conduct 2S audit in all stages<br></td>
                            <td rowspan="2">{{ TLPDCAForm.cb11 }}</td>
                            <td colspan="3">ABSENTISM</td>
                            <td colspan="3">SAFETY</td>
                            <td colspan="6">BREAKDOWN DETAILS</td>
                            <td colspan="8">SHORTAGE COMMUNICATION</td>
                        </tr>
                        <tr>
                            <td>PLAN</td>
                            <td>REG</td>
                            <td>CL</td>
                            <td>PLAN</td>
                            <td>F.AID</td>
                            <td>N.MISS</td>
                            <td colspan="6" rowspan="2">{{ TLPDCAForm.ta1 }}</td>
                            <td colspan="8" rowspan="2">{{ TLPDCAForm.ta2 }}</td>
                        </tr>
                        <tr>
                            <td colspan="2" rowspan="2">Conduct MH audit at loading &amp; unloading</td>
                            <td rowspan="2">{{ TLPDCAForm.cb12 }}</td>
                            <td>{{ TLPDCAForm.in19 }}</td>
                            <td>{{ TLPDCAForm.in20 }}</td>
                            <td>{{ TLPDCAForm.in21 }}</td>
                            <td>{{ TLPDCAForm.in22 }}</td>
                            <td>{{ TLPDCAForm.in23 }}</td>
                            <td>{{ TLPDCAForm.in24 }}</td>
                        </tr>
                        <tr>
                            <td colspan="4" rowspan="2">SHIFT CLOSING VERIFICATION</td>
                            <td colspan="8">STAND UP MEETING POINTS</td>
                            <td colspan="8">FEED BACK FROM REPORTING GROUP LEADER</td>
                        </tr>
                        <tr>
                            <td colspan="2" rowspan="2">Review &amp; Monitor parts return from next customer</td>
                            <td rowspan="2">{{ TLPDCAForm.cb13 }}</td>
                            <td rowspan="2">P</td>
                            <td colspan="7" rowspan="2">{{ TLPDCAForm.ta3 }}</td>
                            <td colspan="8" rowspan="8">{{ TLPDCAForm.ta4 }}</td>
                        </tr>
                        <tr>
                            <td colspan="3">CHECK POINT</td>
                            <td>STATUS</td>
                        </tr>
                        <tr>
                            <td colspan="2" rowspan="2">Do shift PDCA along with GL.,</td>
                            <td rowspan="2">{{ TLPDCAForm.cb14 }}</td>
                            <td colspan="3" rowspan="2">Material availability for opening plan</td>
                            <td rowspan="2">{{ TLPDCAForm.in134 }}</td>
                            <td rowspan="2">Q</td>
                            <td colspan="7" rowspan="2">{{ TLPDCAForm.ta5 }}</td>
                        </tr>
                        <tr>
                        </tr>
                        <tr>
                            <td colspan="2" rowspan="2">Update VCS</td>
                            <td rowspan="2">{{ TLPDCAForm.cb15 }}</td>
                            <td colspan="3" rowspan="2">Mixed Paint availability</td>
                            <td rowspan="2">{{ TLPDCAForm.in135 }}</td>
                            <td rowspan="2">C</td>
                            <td colspan="7" rowspan="2">{{ TLPDCAForm.ta6 }}</td>
                        </tr>
                        <tr>
                        </tr>
                        <tr>
                            <td colspan="2" rowspan="2">Next day plan discussion with GL</td>
                            <td rowspan="2">{{ TLPDCAForm.cb16 }}</td>
                            <td colspan="3" rowspan="2">Masked parts availabilty for plan</td>
                            <td rowspan="2">{{ TLPDCAForm.in136 }}</td>
                            <td rowspan="2">D</td>
                            <td colspan="7" rowspan="2">{{ TLPDCAForm.ta7 }}</td>
                        </tr>
                        <tr>
                        </tr>
                        <tr>
                            <td colspan="2" rowspan="2">Total 'To Do' list check Plan</td>
                            <td rowspan="2">{{ TLPDCAForm.ta8 }}</td>
                            <td colspan="3" rowspan="2">No excess storage of trolleys and bins</td>
                            <td rowspan="2">{{ TLPDCAForm.in137 }}</td>
                            <td rowspan="2">M</td>
                            <td colspan="7" rowspan="2">{{ TLPDCAForm.ta9 }}</td>
                            <td colspan="3" rowspan="2">Team leader signature</td>
                            <td colspan="5" rowspan="2">{{ TLPDCAForm.ta10 }}</td>
                        </tr>
                        <tr>
                        </tr>
                        <tr>
                            <td colspan="2" rowspan="2">Actually done</td>
                            <td rowspan="2">{{ TLPDCAForm.ta11 }}</td>
                            <td colspan="3" rowspan="2">PPE Availability</td>
                            <td rowspan="2">{{ TLPDCAForm.in138 }}</td>
                            <td rowspan="2">S</td>
                            <td colspan="7" rowspan="2">{{ TLPDCAForm.ta12 }}</td>
                            <td colspan="3" rowspan="2">Group leader signature</td>
                            <td colspan="5" rowspan="2">{{ TLPDCAForm.ta13 }}</td>
                        </tr>
                        <tr>
                        </tr>
                    </tbody>
                </table>

                <button id="TLPDCA2Form_submit" type="submit"></button>
            </form>
        </div>
    </div>
</div>