table,
th,
td,
tr {
  border: 1px solid #e9eef2 !important;
  background-color: #F5F8FC !important;
}

input:disabled,
textarea:disabled,
input:read-only,
textarea:read-only {
  background: transparent !important;
  border: none !important;
}