{% extends "layout.html" %}
{% block content %}
<div class="container col-md-8 card">
  <h2>Agendar Cita</h2>
  <form action="/addappointment" method="POST">

    <div class="form-group">
      <label for="exampleInputAppointment1">Nombre</label>
      <input type="text" class="form-control" name="firstName" id="task">
      <small id="appointmentlHelp" class="form-text text-muted">Ingresa el nombre.</small>
    </div>

    <div class="form-group">
      <label for="exampleInputLastName1">Apellido</label>
      <input type="text" class="form-control" name="lastName" id="date">
      <small id="lasteNameHelp" class="form-text text-muted">Ingresa el Apellido.</small>
    </div>

    <div class="form-group">
        <label for="exampleInputIdent1">Identificacion</label>
        <input type="text" class="form-control" name="ident" id="date">
        <small id="identHelp" class="form-text text-muted">Ingresa la Identificacion.</small>
      </div>

      <div class="form-group">
        <label for="exampleInputDate1">Fecha Nacimiento</label>
        <input type="date" class="form-control" name="date" id="date">
        <small id="dateHelp" class="form-text text-muted">Ingresa la fecha de nacimiento.</small>
      </div>

      <div class="form-group">
        <label for="exampleInputCity1">Ciudad Residencia</label>
        <input type="text" class="form-control" name="city" id="date">
        <small id="cityHelp" class="form-text text-muted">Ingresa Ciudad Residencia.</small>
      </div>

      <div class="form-group">
        <label for="exampleInputNeighborhood1">Barrio</label>
        <input type="text" class="form-control" name="neighborhood" id="date">
        <small id="neighborhoodHelp" class="form-text text-muted">Ingresa el barrio.</small>
      </div>

      <div class="form-group">
        <label for="exampleInputMobile1">Numero Celular</label>
        <input type="number" class="form-control" name="mobile" id="date">
        <small id="mobileHelp" class="form-text text-muted">Ingresa el celular.</small>
      </div>

      <div class="form-group">
        <label for="exampleInputDateAppointment">Fecha Cita</label>
        <input type="datetime-local" class="form-control" name="dateAppointment" id="date">
        <small id="dateAppointmentHelp" class="form-text text-muted">Ingresa la fecha para la cita</small>
      </div>
    
    <button type="submit" class="btn btn-primary">Guardar</button>
  </form>

</div>
{% endblock %}